<section id="one" class="tiles">
	{% for post in site.posts limit:site.tiles-count %}
	{% if site.tiles-source == 'posts' %}
        <article>
                <span class="image">
                        <img src="{{ post.image | absolute_url }}" alt="" />
                </span>
                {% if post.redirect %}
                        <header class="major">
                                <h3><a href="{{ post.redirect }}" class="link">{{ post.title }}</a></h3>
                                <p>{{ post.description }}</p>
                        </header>
                {% else %}
                        <header class="major">
                                <h3><a href="{{ post.url | absolute_url  }}" class="link">{{ post.title }}</a></h3>
                                <p>{{ post.description }}</p>
                        </header>
                {% endif %}
        </article>
	{% endif %}
	{% endfor %}
	{% for page in site.pages limit:site.tiles-count %}
	{% if site.tiles-source == 'pages' %}
        <article>
                <span class="image">
                        <img src="{{ page.image | absolute_url }}" alt="" />
                </span>
                {% if page.redirect %}
                        <header class="major">
                                <h3><a href="{{ page.redirect  }}" class="link">{{ page.title }}</a></h3>
                                <p>{{ page.description }}</p>
                        </header>
                {% else %}
                        <header class="major">
                                <h3><a href="{{ page.url | absolute_url  }}" class="link">{{ page.title }}</a></h3>
                                <p>{{ page.description }}</p>
                        </header>
                {% endif %}
        </article>
	{% endif %}
	{% endfor %}
</section>
